.opciones{
    width: 80%;
    background-color: rgb(87, 202, 196);
    padding: 10px 18px;
    margin: 4px 0px 2px 0px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}

body{
    background-color: rgb(241, 244, 245);
}

table{
    border-collapse:separate;
    width: 90%;
    box-shadow:  5px -8px 3px 1px rgb(4, 73, 73,116);/*Sombras*/
    border: lightseagreen 5px solid;
}
.btnAgregar{

    align-items:center;
    width: 20%;
    padding: 10px 18px;
    margin: -50px 4px 20px 70%;
    display:flex;
    border-radius: 4px;
    box-sizing:border-box;
    border: 1px solid #cccccc;
    cursor: pointer;
}
input[type=text],[type=date]{
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
} 
.contenedoraflex{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.contenedorGrilla{
    top: 135px;
    position: absolute;
    width: 30%;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    display: none;
    border: lightblue 5px solid;
    
}
.seleccion{
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
.botonGuardar{
    width: 45%;
    background-color:lightseagreen;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    display: inline-block;
}
.botonCancelar{
    width: 45%;
    background-color:red;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}






th,td{
    text-align: left;
    padding: 8px;
    cursor: pointer; /*Le paso el mouse y pone manito*/
}

tr:nth-child(even){background-color: whitesmoke;}

th{
    background-color: lightseagreen;
    color: white;
    text-align: center;
}

.listaPersonas{

    display: inline-block;
    
    }

  
 

.stringName{
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}




.sinError{
    
    border: 1px solid #cccccc;
}

.error{
    
    border: 1px solid red;

}





.botonCerrar
{
    background-color: red;
    color: white;
    font-size: 16px;
    margin: 4px 0px 4px 10px; 
    cursor: pointer;/*paso la manita por arriba*/
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 12px;
  
}
.Cargando
{
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0.5;
}


.botonCerrar:hover{
    background-color:lightcoral;
}

.botonEliminar:hover{
    background-color:lightcoral;
}

.botonModificar:hover{
    background-color:lightgreen;
}



/*DIVS y CAJITA DE HERRAMIENTA */
.relativePadre {
    position: relative;
    
    position: fixed;
    display: none;
    bottom: 50%;
    left: 50%;
    width: 30rem;
    height: auto;
    border-radius: 15px;
    background-color: grey;
    border: solid green 5px;
    align-items: flex-end;
    
    
}
.absolute {
    position: absolute;
    
}
/*Errores en campo name*/
.conError{
    border:1px solid red;
    
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
        
    
    
}
.sinError{
    border:1px solid green;
     
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
        
}